*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
.container{
    padding: 25px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Open Sans,sans-serif ;
    justify-content: center;
}
  
.logo img{
    width: 20vh;
    border-radius: 10px;
    margin: 1vh;
}
  
div.titulo{
    display: flex;
    font-size: 2vh;
    justify-content: center;
}
  
.titulo h1{
    text-align: center;
    justify-content: center;
}
  
div.subtitulo{
    background-color: rgb(209, 209, 209);
    border: black solid 2px;
    border-radius: 1px;
    box-shadow: rgba(160, 160, 160, 0.479) 2px 2px 2px;
    margin: 0.5% 3% 3% 3%;
}
  
.subtitulo h6{
    text-align: center;
    margin: 4px;
    font-size: 1.5vh;
    padding: 2px;
    
}
  
.ops{
    display: flex;
    flex-direction: column;
    text-align: center;
}
  
select.filtro_select{
    border: solid black 2px;
    border-radius: 1px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 0% 2% 0%;
    font-size: 1.5vh;
}

optgroup.filtro_select{
    font-size: 2vh;
}

option.filtro_select{
    font-size: 1.5vh;
}

div.ops{
    margin-top: 0.4%;
    margin-bottom: 1%;
}
  
.botao_l{
    background-color: rgb(201, 201, 201);
    border: solid rgb(114, 114, 114) 2px;
    padding: 5px;
    border-radius: 5px;
    font-size: 2vh;
    width: 10vh;
    height: 4vh;
    margin: 10px;
}
  
.botao_l:hover{
    color: white;
    background-color: rgb(119, 0, 0);
    border: solid rgb(56, 1, 1) 2px;
    padding: 5px;
    border-radius: 5px;
    font-size: 2vh;
    width: 10vh;
    height: 4vh;
    margin: 10px;
}

.botao_c{
    background-color: rgb(201, 201, 201);
    border: solid rgb(114, 114, 114) 2px;
    padding: 5px;
    border-radius: 5px;
    font-size: 2vh;
    width: 10vh;
    height: 4vh;
    margin: 10px;
}
  
.botao_c:hover{
    color: white;
    background-color: rgb(58, 119, 0);
    border: solid rgb(12, 56, 1) 2px;
    padding: 5px;
    border-radius: 5px;
    font-size: 2vh;
    width: 10vh;
    height: 4vh;
    margin: 10px;
}
  
.resultado p{
    border: solid black 2px;
    padding: 10px 50px 10px 50px;
    border-radius: 5px;
    margin: 30px 10px 10px 10px;
    font-size: 1.5vh;
    
}

div.inputs{
    display: flex;
    flex-direction: column;
    
}

div.input1{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 2vh;
    text-align: center;
    margin: 10px 0px;
    
}

div.input2{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 2vh;
    text-align: center;
    margin: 10px 0px;
}

.input1 input{
    padding: 1vh 1vh 1vh 1vh;
    text-align: center;
    font-size: 2vh;
    border: solid black 2px;
}

.input2 input{
    padding: 1vh 1vh 1vh 1vh;
    text-align: center;
    font-size: 2vh;
    border: solid black 2px;
    
}

.input1 label{
    font-size: 1.3vh;
}

.input2 label{
    font-size: 1.3vh;
}

.tema_escuro{
    font-size: 1.5vh;
    margin-top: 10px;
}
  
footer{
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
    margin: 2.5% 0px 0px 0px;
    font-size: 1.3vh;
    position: fixed;
}
  
  
/*--------------------------------------------------------------------------*/
  

.dark-mode{
    background-color: black;
    color: white;
}
  
.dark-mode div.subtitulo{
    background-color: rgb(214, 214, 214);
    color: black;
    box-shadow: rgba(59, 59, 59, 0.479) 0px 0px 0px;
    border: solid rgb(0, 46, 0) 1px;
}
  
.dark-mode .botao_l{
    background-color: rgb(201, 201, 201);
    border: solid rgb(114, 114, 114) 2px;
    border-radius: 5px;
    box-shadow: rgb(141, 141, 141) 0px;
}
  
.dark-mode .botao_l:hover{
    color: white;
    background-color: rgb(119, 0, 0);
    border: solid rgb(56, 1, 1) 2px;
    border-radius: 5px;
    box-shadow: rgb(141, 141, 141) 0px;
}

.dark-mode .botao_c{
    background-color: rgb(201, 201, 201);
    border: solid rgb(114, 114, 114) 2px;
    border-radius: 5px;
    box-shadow: rgb(141, 141, 141) 0px;
}
  
.dark-mode .botao_c:hover{
    color: white;
    background-color: rgb(58, 119, 0);
    border: solid rgb(12, 56, 1) 2px;
    border-radius: 5px;
    box-shadow: rgb(141, 141, 141) 0px;
}

.dark-mode div.input1{
    border: solid gray 2px;
}

.dark-mode div.input2{
    border: solid gray 2px;
}
  
.dark-mode .resultado p{
    border: solid gray 3px;
    background-color: white;
    color: black;
}


/*--------------------------------------------------------------------------*/


@media all and (min-width:1024px){

    div.titulo{
        font-size: 3vh;
    }
    
    div.inputs{
        display: flex;
        flex-direction: row;
        margin: 0px 10px;
    }

    div.input1{
        margin: 0px 10px;
    }

    div.input2{
        margin: 0px 10px;
    }
}